=circle($size)
  width: $size
  height: $size
  +border-radius($size / 2)

=square($size)
  width: $size
  height: $size

=rect($width, $height)
  width: $width
  height: $height

=centered($width, $height)
  position: absolute
  +rect($width, $height)
  top: 50%
  left: 50%
  margin-top: -$height/2
  margin-left: -$width/2

=padded($value)
  padding: $value

=borderbox
  +css3-prefix('box-sizing', 'border-box')

/* BORDER RADIUS */
=border-radius($radius: 5px)
  +css3-prefix('border-radius', $radius)

/* FLEX */
=flex($value: 1)
  +css3-prefix('box-flex', $value)

=border-radius-separate($topLeftRadius: 5px, $topRightRadius: 5px, $bottomLeftRadius: 5px, $bottomRightRadius: 5px)
  -webkit-border-top-left-radius:     $topLeftRadius
  -webkit-border-top-right-radius:    $topRightRadius
  -webkit-border-bottom-right-radius: $bottomRightRadius
  -webkit-border-bottom-left-radius:  $bottomLeftRadius

  -moz-border-radius-topleft:     $topLeftRadius
  -moz-border-radius-topright:    $topRightRadius
  -moz-border-radius-bottomright: $bottomRightRadius
  -moz-border-radius-bottomleft:  $bottomLeftRadius

  border-top-left-radius:     $topLeftRadius
  border-top-right-radius:    $topRightRadius
  border-bottom-right-radius: $bottomRightRadius
  border-bottom-left-radius:  $bottomLeftRadius

/* BOX */
=box($orient: horizontal, $pack: center, $align: center)
  display: -webkit-box
  display: -moz-box
  display: box

  +css3-prefix('box-orient', $orient)
  +css3-prefix('box-pack', $pack)
  +css3-prefix('box-align', $align)

/* BOX RGBA */
=box-rgba($r: 60, $g: 3, $b: 12, $opacity: 0.23, $color: #3C3C3C)
  background-color: transparent
  background-color: rgba($r, $g, $b, $opacity)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color}',endColorstr='#{$color}')
  zoom:   1

/* BOX SIZING */
=box-sizing($type: border-box)
  +css3-prefix('box-sizing', $type)
