$break-tablet: 640px
$break-screen: 960px
$break-large: 1200px

=max-mobile
	@media (max-width: $break-tablet)
		@content

=min-tablet
	@media (min-width: $break-tablet)
		@content

=max-tablet
	@media (max-width: $break-screen)
		@content

=full
	@media (min-width: $break-screen)
		@content

=large
	@media (min-width: $break-large)
		@content
