@mixin uppercase
  text-transform: uppercase

@mixin whitespace
  white-space: pre-wrap /* css-3 */
  white-space: -moz-pre-wrap /* Mozilla, since 1999 */
  white-space: -pre-wrap /* Opera 4-6 */
  white-space: -o-pre-wrap /* Opera 7 */

@mixin wordwrap
  +whitespace
  word-wrap: break-word /* Internet Explorer 5.5+ */

@mixin wordbreak-all
  -ms-word-break: break-all
  word-break: break-all

@mixin wordbreak-word
  -ms-word-break: break-word
  word-break: break-word

@mixin hyphens
  -o-hyphens: auto
  -ms-hyphens: auto
  -moz-hyphens: auto
  -webkit-hyphens: auto
  hyphens: auto
