@mixin resetChildren
  *
    padding: 0
    margin: 0
    border: 0

@mixin relative
  position: relative

@mixin absolute
  position: absolute

@mixin hidden
  display: none

@mixin visuallyhidden
  opacity: 0