=left
  float: left

=right
  float: right

=center
  margin: 0 auto

=resetChildren
  *
    padding: 0
    margin: 0
    border: 0

=relative
  position: relative

=absolute
  position: absolute

=hidden
  display: none

=invisible
  opacity: 0

=padded($value)
  padding: $value 